.container{
  width: 100%;
  height: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 100px auto 50px;
grid-gap: 20px;
}

.canvas-element{
  grid-column: 1;
  grid-row: 1;
  padding: 5%;
}

.reactpanel-element{
  grid-column: 2;
  grid-row: 1;
   padding: 5%;
}